.body {
    background-color: #FBFBFB;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

.d-flex {
    display: flex;
}

.text-left {
    text-align: left;
}

p {
    margin: 0;
    padding: 0;
}