@import './variables';

body {
    background-color: #FBFBFB;
    font-family: $main_text;
    color: $main_text_color;
    line-height: 1.2;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}