$main_text: Montserrat, sans-serif;
$secondary_text: Montserrat Alternates, sans-serif;
$main_text_color: #3C322D;
$white_text_color: #fff;
$secondary_color: #2E2520;
$button_color: #F3848C;
$button_gradient: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);

