<section class="container speakers">
  <h2 class="section-titles">Speakers</h2>
  <ul class="speakers-list">
    <li class="speaker">
      <img src="./images/pastry_chef.png" alt="Molly Rivera" />
      <h3 class="speaker-title">Molly Rivera</h3>
      <p class="speaker-position">Pastry chef, master chocolatier of Spain</p>
    </li>
    <li class="speaker">
      <img src="./images/culinary_school_pastry_chef.png" alt="Sophia Clark" />
      <h3 class="speaker-title">Sophia Clark</h3>
      <p class="speaker-position">Сulinary school pastry chef</p>
    </li>
    <li class="speaker">
      <img
        src="./images/consultant_in_the_art_of_confectionery.png"
        alt="Isabella Taylor"
      />
      <h3 class="speaker-title">Isabella Taylor</h3>
      <p class="speaker-position">Сonsultant in the art of confectionery</p>
    </li>
    <li class="speaker">
      <img src="./images/master-chocolatier.png" alt="Evelyn Miller" />
      <h3 class="speaker-title">Evelyn Miller</h3>
      <p class="speaker-position">Master-chocolatier in Spain</p>
    </li>
  </ul>
</section>
