@import '../utilities/variables';

.speakers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

    .speaker {
        max-width: calc((100% - 20px) / 2);

        img {
            width: 100%;
        }

        &-title {
            color: $main_text_color;
            text-align: center;
            font-family: $main_text;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
        }

        &-position {
            color: $main_text_color;
            text-align: center;
            font-family: $main_text;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}